  
body {
    background-color: white;
}

h1 {
    display: none;
}

.appTitle {
    font-family: sans-serif;
    text-align: center;
    margin-top: 4px;
    font-size: 24px;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#pixelPainter {
    border: 3px solid black;
    border-radius: 1em;
    padding: 9px;
    width: 485px;
    height: 765px;
    margin: 10px auto;
    overflow-wrap: inherit;
    background-color: silver;
}

.canvasCell {
    border: 0.01em solid black;
    height: 2em;
    width: 2em;
    display: inline-block;
    background-color: white;
}

.canvasCell:hover {
    background-color: red;
}

.painterCanvas {
    display: inline-block;
}

.canvasCell {
    border: 0.01em solid black;
    height: 2em;
    width: 2em;
    display: inline-block;
}

.paletteCell {
    border: 0.01em solid black;
    height: 2em;
    width: 2em;
    display: inline-block;
}

.paletteCell:hover {
    border-color: white;
}

.mainBtns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 8px;
}

.fillBtn, .eraseBtn, .clearBtn, .saveBtn, .loadBtn {
    text-align: center;
    font-family: sans-serif;
    color: fff;
    line-height: 45px;
    background-color: gray;
    border: 0.01em solid black;
    height: 3em;
    width: 5.99em;
    margin-top: 3px;
}

.fillBtn:hover, .eraseBtn:hover, .clearBtn:hover, .saveBtn:hover, .loadBtn:hover {
    color: orange;
}
